<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /IQ_World_Cup/index/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html [QSA,L]
</IfModule>
