<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /IQ_World_Cup/index/
  
  # Si el archivo o directorio existe, sírvelo directamente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Si no existe, redirige al index.html de React
  RewriteRule ^ index.html [QSA,L]
</IfModule>

# Desactiva el caché para index.html para asegurar actualizaciones
<Files "index.html">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</Files>
